/*  Step-1.1 You don't need to put a position on this element because it is already at the top of the screen */
/*html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}*/

.header {
    width: 100%;
    height: 100px;
    background: #D8D8D8;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

/* Step-1.2 I would suggest using float to get this container in it's desired location*/

.content-left {
    width: 33.3%;
    /*this height is a placeholder. You will need to make some adjustment to get this container to look like the design */
    height: 900px;
    background: #565555;
    float: left;
    padding-top: 35px;
}



/* Step-1.3 I would suggest using float to get this container in it's desired location. */

.content-mid {
    width: 66.6%;
    /*this height is a placeholder. You will need to make some adjustment to get this container to look like the design */
    height: 900px;
    background: #B0B0B0;
    float: left;
}

/* Step-1.4 your going to want to add a positioning property to get this container to the bottom of the screen  */

.footer {
    width: 100%;
    height: 100px;
    background: #d8d8d8;
    position: fixed;
    bottom: 0;
}
